.action-button {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.title-container {
    margin-bottom: 10px;
}

.title {
    margin-left: 10px;
}

.title-button {
    margin-left: 20px;
}