<h2 mat-dialog-title>Supplier Detail</h2>
<mat-dialog-content class="dialog-content">
    <div>
        <h3>Id</h3>
        <p>{{data.id}}</p>
    </div>

    <h3>Business Name</h3>
    <p>{{data.businessName}}</p>

    <h3>Trade Name</h3>
    <p>{{data.tradeName}}</p>

    <h3>Tax ID</h3>
    <p>{{data.taxId}}</p>

    <h3>Phone Number</h3>
    <p>{{data.phoneNumber}}</p>

    <h3>Email</h3>
    <p>{{data.email}}</p>

    <h3>Website</h3>
    <p>{{data.website}}</p>

    <h3>Physical Address</h3>
    <p>{{data.physicalAddress}}</p>

    <h3>Country</h3>
    <p>{{data.country}}</p>

    <h3>Annual Billing</h3>
    <p>{{data.annualBilling}}</p>

    <h3>Last Edited</h3>
    <p>{{data.lastEdited}}</p>

</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
    <button mat-stroked-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>